.dashboard {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Cards Row */
.card-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.summary-card {
  background: #ffffff;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.card-title {
  font-size: 13px;
  color: #6c757d;
}

.card-value {
  font-size: 22px;
  font-weight: 600;
  color: #4A6CF7;
}

/* Chart Row */
.chart-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.chart-row.lst-chart-row {
  grid-template-columns: repeat(2, 1fr);
}

.chart-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
  height: 220px;
  width: 100%;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Table */
.table-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #F7F9FC;
}

th, td {
  padding: 10px;
  text-align: left;
  font-size: 13px;
}

th {
  font-weight: 600;
  color: #495057;
}

tbody tr:hover {
  background: #f1f3f5;
}

/* Responsive */
@media (max-width: 1200px) {
  .card-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .chart-row {
    grid-template-columns: 1fr;
  }
  .chart-row.lst-chart-row {
    grid-template-columns: 1fr;
    }
}