.main_layout{
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f2f5f9;
}

.inner_layout{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main_content{
  flex: 1;
  overflow-y: auto;
  padding: 15px 20px;
}