/* You can add global styles to this file, and also import other style files */
html{
  font-size: 62.5%;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

h1,h2{
  font-size: 32px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 18px;
}

p{
  font-size: 16px;
}