.header{
  padding: 0px 20px;
  border-bottom: 1px solid #DADDE1;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #FFFFFF;
}
.res_sidebar__toggler {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
}
.navbar_left{
  overflow: hidden;
}

.header_items__wrapper{
  display: flex;
  margin-left: auto;
  justify-content: end;
  height: 100%;
}

::ng-deep .header_menu__item {
    height: 100%;
    aspect-ratio: 1 / 1;
}

::ng-deep .header_menu__item .signleportal_icon {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer
}

::ng-deep .header_menu__item .signleportal_icon img {
    width: 34px
}

::ng-deep .header_menu__item .header_menu__btn {
    height: 100%!important;
    width: 100%;
    border-radius: 0;
    border: none!important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    line-height: normal;
    padding: 0;
    background-color: transparent;
    outline: none;
}

::ng-deep .header_menu__item .header_menu__btn.active,
::ng-deep .header_menu__item .header_menu__btn:hover,
::ng-deep .header_menu__item .header_menu__btn[aria-expanded=true] {
    background-color: #6699d2
}

::ng-deep .header_menu__item .header_menu__btn img {
    max-width: 33px;
    transition: .3s ease
}

::ng-deep .header_menu__item .header_menu__btn.active img,
::ng-deep .header_menu__item .header_menu__btn:hover img,
::ng-deep .header_menu__item .header_menu__btn[aria-expanded=true] img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1)
}

::ng-deep .cusomt_select .mat-form-field-wrapper{
  padding-bottom: 0px;
}

::ng-deep .cusomt_select .mat-form-field-flex {
  margin-top: 0px !important;
}
::ng-deep .cusomt_select .mat-form-field-infix {
    border-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin: auto;
    height: 40px !important;
    /* width: 100%; */
}
::ng-deep .cusomt_select .mat-form-field-outline {
    color: #464f5c;
    opacity: .6;
    top: 0 !important;
}
::ng-deep .cusomt_select .mat-form-field-outline-start,
::ng-deep .cusomt_select .mat-form-field-outline-end{
  border-radius: 0 !important;
}
@media screen and (min-width: 1920px) {
  .header{
    height: 60px;
  }
}
@media screen and (max-width: 1024.98px) {
  .header{
    padding: 0 15px;
  }
  .res_sidebar__toggler{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    min-width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
  }
  .res_sidebar__toggler:focus{
    outline: none;
  }
  .res_sidebar__toggler span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #6699D2;
  }
  .res_sidebar__toggler span:nth-child(2) {
    position: relative;
    height: 2px;
    background: transparent;
    overflow: hidden;
  }

  /* Animated bar */
  .res_sidebar__toggler span:nth-child(2)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;                    /* Full width, we will clip it */
    background-color: #6699D2;
    
    /* 70% width visible using clip-path */
    clip-path: inset(0 30% 0 0);     /* left side visible initially */
    
    animation: smoothSideSwap 1.8s ease-in-out infinite;
  }

  .header_items__wrapper{
    align-items: center;
  }
  ::ng-deep .header_menu__item {
      height:50px
  }
 /*
  ::ng-deep .header_menu__item .header_menu__btn img {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1)
  } */

}

@keyframes smoothSideSwap {

  /* Step 1: 70% left */
  0% {
    clip-path: inset(0 30% 0 0);
  }

  /* Step 2: full width */
  25% {
    clip-path: inset(0 0 0 0);
  }

  /* Step 3: 70% right (smooth) */
  50% {
    clip-path: inset(0 0 0 30%);
  }

  /* Step 4: full width again */
  75% {
    clip-path: inset(0 0 0 0);
  }

  /* Step 5: back to 70% left (smooth) */
  100% {
    clip-path: inset(0 30% 0 0);
  }
}
